aiohttp==3.8.1
requests==2.26.0
alpaca-trade-api==2.2.0
asyncio-nats-client==0.10.0
msgpack==1.0.3
numpy==1.22.1
pandas
python-dateutil==2.8.1
pytz==2020.1
urllib3==1.26.5
websocket-client==0.57.0
websockets==9.1
nest_asyncio==1.5.1